@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 34, 34, 59;
  --background-end-rgb: 34, 34, 59;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 35, 25, 66;
    --background-end-rgb: 35, 25, 66;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
